<div id="movies">
  <b> Dynamic </b>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const url = "*%5B_type%20%3D%3D%20'movie'%5D%20%7B%0A%20%20title%0A%7D";
    const baseUrl = "https://qtut2ng4.apicdn.sanity.io";
    const query = "*%5B_type%20%3D%3D%20'movie'%5D%20%7B%0A%20%20title%0A%7D";
    const fullUrl = `${baseUrl}/v2021-10-21/data/query/production?query=${url}`;
    fetch(fullUrl, {})
      .then((res) => res.json())
      .then((data) => {
        const moviesContainter = document.querySelector("#movies");
        data.result.forEach((movie) => {
          const { title } = movie;
          const paragraph = document.createElement("p");
          paragraph.setAttribute("data-name", title);
          moviesContainter.appendChild(paragraph);
        });
        document.querySelectorAll("p[data-name]").forEach((el) => {
          el.innerText = el.getAttribute("data-name");
        });
      });
  });
</script>
